<div class="terrain-input">
  <p class="terrain-input__label">{{terrain?.label || ''}}</p>
  <button class="terrain-input__button" (click)="handleClick(terrain?.key, -0.05)">-0,05</button>
  <button  class="terrain-input__button" (click)="handleClick(terrain?.key, -0.01)">-0,01</button>
  <p class="terrain-input__label--small">{{terrain?.level?.toFixed(2) || ''}}</p>
  <button class="terrain-input__button" (click)="handleClick(terrain?.key, 0.01)">+0,01</button>
  <button class="terrain-input__button" (click)="handleClick(terrain?.key, 0.05)">+0,05</button>
</div>
